<ion-app>
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title style="font-weight: bold">{{ nomeDoRestaurante }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Prato do dia -->
    <ion-card style="padding: 0 !important">
      <img
        src="../assets/img/prato-do-dia.jpg"
        style="display: flex; justify-content: center; width: 100%"
      />
      <ion-card-header>
        <ion-card-title>Prato do Dia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Texto promocional e valor do prato do dia -->
      </ion-card-content>
    </ion-card>
    <ion-content>
      <div style="display: flex; flex-direction: row; justify-content: center">
        <ion-card (click)="openCategory('lanches')" style="width: 150px">
          <img src="../assets/img/lanches.jpg" />
          <ion-card-header>
            <ion-card-title>Lanches</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Texto promocional e valor do prato do dia -->
          </ion-card-content>
        </ion-card>
        <ion-card (click)="openCategory('pratos-entrada')" style="width: 150px">
          <img src="../assets/img/entrada.jpg" />
          <ion-card-header>
            <ion-card-title>Pratos de Entrada</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Adicione texto e valor para o prato de entrada -->
          </ion-card-content>
        </ion-card>
        <ion-card
          (click)="openCategory('pratos-refeicao')"
          style="width: 150px"
        >
          <img src="../assets/img/refeicao.jpg" />
          <ion-card-header>
            <ion-card-title>Pratos de Refeição</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Adicione texto e valor para o prato de refeição -->
          </ion-card-content>
        </ion-card>
        <ion-card (click)="openCategory('sobremesas')" style="width: 150px">
          <img src="../assets/img/sobremesas.jpg" />
          <ion-card-header>
            <ion-card-title>Sobremesas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Adicione texto e valor para a sobremesa -->
          </ion-card-content>
        </ion-card>
        <ion-card (click)="openCategory('bebidas')" style="width: 150px">
          <img src="../assets/img/bebidas.jpg" />
          <ion-card-header>
            <ion-card-title>Bebidas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Adicione texto e valor para a bebida -->
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  </ion-content>
</ion-app>
